<%= form_for(@academic) do |f| %>
  <% if @academic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academic.errors.count, "error") %> prohibited this academic from being saved:</h2>

      <ul>
      <% @academic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <div class="field">
      <tr>
	<td align="right">
	  <%= f.label :title %>
	</td>
	<td>
	  <%= f.select :title, TITLES, :include_blank => true %>
	</td>
      </tr>
      <tr>
	<td align="right">
	  <%= f.label :first, "First Name" %>
	</td>
	<td>
	  <%= f.text_field :first %>
	</td>
      </tr>
      <tr>
	<td align="right">
	  <%= f.label :last, "Last Name" %>
	</td>
	<td>
	  <%= f.text_field :last %>
	</td>
      </tr>
      <% if can? :destroy, @academic %>
      <tr>
	<td align="right">
	  <%= f.label :short, "Short Name" %>
	</td>
	<td>
	  <%= f.text_field :short %>
	</td>
      </tr>
      <% end %>
      <tr>
	<td align="right">
	  <%= f.label :school_id %>
	</td>
	<td>
	  <%= f.select :school_id, School.all.collect { |s| [s.name, s.id] }, :include_blank => true %>
	</td>
      </tr>
      <tr>
	<td align="right">
	  <%= f.label :work_phone, "Phone" %>
	</td>
	<td>
	  <%= f.text_field :work_phone %>
	</td>
      </tr>
      <tr>
	<td align="right">
	  <%= f.label :work_mail, "Email" %>
	</td>
	<td>
	  <%= f.text_field :work_mail, :size => 16 %>
	  @nuigalway.ie
	</td>
      </tr>
      <tr>
	<td align="right">
	  <%= f.label :user_id %>
	</td>
	<td>
	  <%= f.select :user_id, User.all.collect { |s| [s.email, s.id] }, :include_blank => true %>
	</td>
      </tr>
      <tr>
	<td align="right">
	  <%= f.label :home_url, "Home Page" %>
	</td>
	<td>
	  <%= f.text_field :home_url %>
	</td>
      </tr>
      <tr>
	<td align="right">
	  <%= f.label :image_url %>
	</td>
	<td>
	  <%= f.text_field :image_url %>
	</td>
      </tr>
    </div>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
