<h1>Academic Staff</h1>

<table>
<% @academics.each do |academic| %>
  <tr>  
    <td><%= link_to academic, academic %></td>
      <td> x<%= academic.work_phone %></td>
      <td><%= link_to '[Mail]', academic.mailto %></td>
      <td><%= link_to '[Home]', academic.home_url %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Academic', new_academic_path %>
