<div id="side">
  <h3>Academic Staff</h3>
  <ul><%= render Academic.all %></ul>
</div>
<div id="main">

<p id="notice"><%= notice %></p>

<h3><%= @academic.school %></h3>

<h2><%= @academic %></h2>

<%= image_tag @academic.image_url, :align => :right, :size => "96x96", :alt => "[image]" %>

<p>
  <b>Work phone:</b>
  <%= @academic.work_phone %>
</p>

<p>
  <b>Work mail:</b>
  <%= link_to @academic.email, @academic.mailto %>
</p>

<p>
  <b>Home Page:</b>
  <%= link_to nil, @academic.home_url %>
</p>

<% if @academic.supervisions.any? or @academic.committees.any? %>
<h3>Students</h3>

<ul>
<% @academic.supervisions.each do |s| %>
<li><%= link_to s.student, s.student %> (<%= s.status %>)</li>
<% end %>
<% @academic.committees.each do |s| %>
<li><%= link_to s.student, s.student %> (GRC)</li>
<% end %>
</ul>
<% end %>

<h3>Records</h3>
<ul>
<% @academic.publication_records.each do |pr| %>
<li><%= link_to nil, pr.url %></li>
<% end %>
</ul>

<hr />

<%= link_to 'Edit', edit_academic_path(@academic) %> |
<%= link_to 'Delete', @academic, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', academics_path %>

</div>
