<div id="side">
  <h3>Academic Staff</h3>
    <% @academics_by_school.each do |school, academics| %>
      <h4><%= school %></h4>
      <ul><%= render academics %></ul>
    <% end %>
</div>
<div id="main">

<h3><%= @academic.school %></h3>

<h2><%= @academic %></h2>

<%= image_tag @academic.image_url, :align => :right, :size => "96x96", :alt => "[image]" %>

<p>
  <b>Phone:</b>
  <%= @academic.extension %>
</p>

<p>
  <b>Email:</b>
  <%= link_to @academic.email, @academic.mailto %>
</p>

<p>
  <b>Home Page:</b>
  <%= link_to nil, @academic.home_url %>
</p>

<% if @active_supervisions.any? %>
  <h3>Students</h3>
  <ul>
    <% @active_supervisions.each do |s| %>
      <li>
        <%= link_to s.student, s.student %> (<%= s.status %>, <%= s.student.programme %>, <%= s.student.status_or_blank %>)
      </li>
    <% end %>
  </ul>
<% end %>

<% if @active_committees.any? %>
  <h3>GRC</h3>
  <ul>  
    <% @active_committees.each do |s| %>
      <li><%= link_to s.student, s.student %></li>
    <% end %>
  </ul>
<% end %>

<% if @complete_supervisions.any? %>
  <h3>Former Students</h3>
  <ul>
    <% @complete_supervisions.each do |s| %>
      <li>
        <%= link_to s.student, s.student %> (<%= s.student.programme %>)
      </li>
    <% end %>
  </ul>
<% end %>

<% if can? :destroy, @academic %>
<% if @academic.records.any? %>
<h3>Records</h3>
<ul>
<% @academic.records.each do |record| %>
<li><%= link_to record.broker.name, record.broker.template % record.authorid, :target => "_blank" %></li>
<% end %>
</ul>
<% end %>
<% end %>

<hr />

<% if can? :update, @academic %>
  <%= link_to 'Edit', edit_academic_path(@academic) %> |
<% end %>
<% if can? :destroy, @academic %>
  <%= link_to 'Add Record', new_record_path(:academic_id => @academic) %> |
<% end %>
<% if can? :destroy, @academic %>
  <%= link_to 'Delete', @academic, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', academics_path %>

</div>
