<% content_for :side do %>
  <h3>Academic Staff</h3>
  <% @schools.each do |school| %>
    <h4><%= school %></h4>
    <ul><%= render school.academics %></ul>
  <% end %>
<% end %>

<h3 style="margin-bottom: 0px;"><%= @academic.school %></h3>

<div class="email" style="border: 2px solid #333; padding-left: 12px;">
<h1><%= link_to @academic.name, @academic.home_url %><%= if can?(:destroy, @academic) and @academic.short then " (#{@academic.short})" end %></h1>

<%= image_tag @academic.image_url, :align => :right, :size => "96x96", :alt => "[image]" %>

  &#9993;
  <code>  <%= link_to @academic.email, @academic.mailto %></code>
  &nbsp;
  &#9742;
  <%= @academic.extension %>
</div>

  <% @academic.loads.group_by(&:date).sort.reverse.each do |date, loads_by_date| %>
<br />
    <h3 class="edit-head">Teaching Load <%= academic_year_code(date) %> (<%= loads_by_date.map(&:hours).sum %> hrs)</h3>
    <ul>
      <% loads_by_date.each do |load| %>
        <li>
          <%= load.hours %> hrs,
          <%= link_to load.atom, load.atom %>.
        </li>
      <% end %>
    </ul>

<div style="width: 100%;">
    <% loads_by_date.group_by(&:semester).sort.each do |semester, loads| %>
<div style="display: inline-block;">
      <b><%= academic_year_code(date) %>: Semester <%= semester %> (<%= loads.map(&:hours).sum %> hrs)</b>
      <%= times_table_for(loads.map(&:times_module).join(";")) %>
</div>
    <% end %>
</div>
  <% end %>

<h3>Project Proposals</h3>
<ul>
   <% @academic.proposals.each do |proposal| %>
    <li>
      <%= proposal.student_and_title %>
      <% if not proposal.accepted %>
      [<%= link_to 'Accept', accept_proposal_path(proposal), method: :put, data: { confirm: 'Are you sure?' }  %>]
      [<%= link_to 'Ignore', proposal, method: :delete, data: { confirm: 'Are you sure?' } %>]
      <% end %>
    </li>
    <% end %>
</ul>

<% if @active_directions.any? %>
  <h3>Project Supervision</h3>
  <ul>
    <% @active_directions.each do |direction| %>
      <% author = direction.project.author %>
      <li>
	<% if current_user == @academic.user and direction.open? %>
	  <span style="color:red">
            <%= link_to_if can?(:show, direction), author, direction, :style => "color:red" %> (<%= author.programme %>)
          </span>
        <% else %>
          <%= link_to_if can?(:show, direction), author, direction %> (<%= author.programme %>)
        <% end %>
	[<%= direction.project.bookings.first %>]
      </li>
    <% end %>
  </ul>
<% end %>

<% if  @active_examinations.any? %>
  <h3>Project Examination</h3>
  <ul>
    <% @active_examinations.each do |examination| %>
      <% author = examination.project.author %>
      <li>
	<% if current_user == @academic.user and examination.open? %>
	  <span style="color:red">
            <%= link_to_if can?(:show, examination), author, examination, :style => "color:red" %> (<%= author.programme %>)
          </span>
        <% else %>
          <%= link_to_if can?(:show, examination), author, examination %> (<%= author.programme %>)
        <% end %>
	[<%= examination.project.bookings.first %>]
      </li>
    <% end %>
  </ul>
<% end %>

<% if @active_supervisions.any? %>
  <h3>Graduate Students</h3>
  <ul>
    <% @active_supervisions.each do |s| %>
      <li>
        <%= link_to s.student, s.student %> (<%= s.main ? 'Main ' : 'Co-' %>Supervisor, <%= s.student.programme %>, <%= s.student.status_or_blank %>)
      </li>
    <% end %>
  </ul>
<% end %>

<% if @active_committees.any? %>
  <h3>GRC</h3>
  <ul>  
    <% @active_committees.each do |s| %>
      <li><%= link_to s.student, s.student %></li>
    <% end %>
  </ul>
<% end %>

<% if @complete_supervisions.any? %>
  <h3>Former Students</h3>
  <ul>
    <% @complete_supervisions.each do |s| %>
      <li>
        <%= link_to s.student, s.student %> (<%= s.student.programme %>)
      </li>
    <% end %>
  </ul>
<% end %>

<%= render 'records' if can? :destroy, @academic %>

<hr />

<% if can? :update, @academic %>
  <%= link_to 'Edit', edit_academic_path(@academic) %> |
<% end %>
<% if can? :destroy, @academic %>
  <%= link_to 'Delete', @academic, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', academics_path %>
