<% content_for :side do %>
  <h3>All Modules</h3>
    <ul><%= render Molecule.all %></ul>
<% end %>

<h3>Module</h3>

<h1>
  <%= link_to @molecule.code, @molecule.course %>:
  <%= @molecule.title %>
</h1>

<h3 class="edit-head">Atoms</h3>
<% if can? :update, @molecule %>
  <div class="edit">
    <%= link_to add_symbol, new_bond_path(:molecule_id => @molecule) %>
  </div>
<% end %>
<p>
  <ul>
    <% @molecule.atoms.each do |atom| %>
    <li>
      <%= link_to atom, atom %>
      (<%= atom.hours %> hrs)
    </li>
    <% end %>
  </ul>
</p>

<h3 class="edit-head">Instances</h3>
<% if can? :update, @molecule %>
  <div class="edit">
    <%= link_to add_symbol, new_instance_path(:molecule_id => @molecule) %>
  </div>
<% end %>
<table>
<% @molecule.instances.each do |instance| %>
<tr>
  <td>
    <%= link_to instance.cohort, instances_path(:cohort => instance.cohort) %>
  </td>
  <td><%= instance.date %></td>
  <td>(<%= instance.status %>)</td>
<td>
<%= instance.credits %> ECTS
<% if can? :update, instance %>
  <div class="edit">
    <%= link_to edit_symbol, edit_instance_path(instance) %>
  </div>
<% end %>
</td>
</tr>
<% end %>
</table>

<p>
  <b>Description:</b>
  <%= @molecule.description %>
</p>


<% if can? :edit, @molecule %>
<%= link_to 'Edit', edit_molecule_path(@molecule) %> |
<% end %>
<% if can? :destroy, @molecule %>
  <%= link_to 'Destroy', @molecule, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', molecules_path %>
