<% content_for :side do %>
  <h3>Molecules</h3>
    <ul><%= render Molecule.all %></ul>
<% end %>

<h3>Molecule</h3>

<h1>
  <%= @molecule.code %>:
  <%= @molecule.title %>
</h1>

<p>
  <b>Module:</b>
  <%= link_to @molecule.course, @molecule.course %>
</p>

<h3 class="edit-head">Atoms</h3>
<% if can? :update, @molecule %>
  <div class="edit">
    <%= link_to add_symbol, new_bond_path(:molecule_id => @molecule) %>
  </div>
<% end %>
<p>
  <ul>
    <% @molecule.atoms.each do |atom| %>
    <li>
      <%= link_to atom, atom %>
    </li>
    <% end %>
  </ul>
</p>

<p>
  <b>Description:</b>
  <%= @molecule.description %>
</p>


<% if can? :edit, @molecule %>
<%= link_to 'Edit', edit_molecule_path(@molecule) %> |
<% end %>
<% if can? :destroy, @molecule %>
  <%= link_to 'Destroy', @molecule, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', molecules_path %>
