<h3>Final Year Project Proposals</h3>

<h2><%= @enrolment.name_number %></h2>

<ul>
<% @enrolment.proposals.each do |proposal| %>
<li>
<%= proposal.title_and_supervisor %>
(<%= proposal.status %>)
</li>
<% end %>
</ul>

<p>
<%= link_to 'New Proposal', new_proposal_path(:enrolment_id => @enrolment) %>
</p>

<% if can? :edit, @enrolment %>
<%= link_to 'Edit', edit_enrolment_path(@enrolment) %> |
<% end %>
