<%= form_for(@publication_record) do |f| %>
  <% if @publication_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publication_record.errors.count, "error") %> prohibited this publication_record from being saved:</h2>

      <ul>
      <% @publication_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resource %><br />
    <%= f.text_field :resource %>
  </div>
  <div class="field">
    <%= f.label :authorid %><br />
    <%= f.text_field :authorid %>
  </div>
  <div class="field">
    <%= f.label :academic_id %><br />
    <%= f.number_field :academic_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
