<h1>Listing cohorts</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Academic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cohorts.each do |cohort| %>
  <tr>
    <td><%= cohort.code %></td>
    <td><%= cohort.name %></td>
    <td><%= cohort.description %></td>
    <td><%= cohort.academic_id %></td>
    <td><%= link_to 'Show', cohort %></td>
    <td><%= link_to 'Edit', edit_cohort_path(cohort) %></td>
    <td><%= link_to 'Destroy', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cohort', new_cohort_path %>
