<% if instances %> 
<h1><%= cohort %></h1>
<table style="border: 1px solid grey;">
<% instances.sort_by(&:code).each do |instance| %>
<tr>
<td><%= link_to instance.molecule, instance.molecule %></td>
<td><%= instance.credits %> ECTS</td>
<td>(<%= instance.status %>)</td>
<td><%= instance.loads.map(&:hours).sum %> hours.</td>
</tr>
<% end %>
</table>

<% if @date %>
<% slots_by_date = instances.group_by(&:date)[@date].map(&:slots).sum %>
<% slots_by_date.group_by { |x| x[:load].semester }.sort.each do |semester, slots| %>
  <h2>Timetable <%= academic_year_code(@date) %>, Semester <%= semester %>.</h2>
  <%= render :partial => 'slots', :object => slots %>
<% end %>
<% end %>
<% end %>
