<% @instances.group_by(&:cohort).each do |cohort, instances_by_cohort| %>
<h1><%= cohort %></h1>
<ul>
<% instances_by_cohort.group_by(&:code).each do |code, instances| %>
<li>
<%= code %>:
<% instances.each do |instance| %>
    <%= link_to instance.atom.code, instance %>
<% end %>
</li>
<% end %>
</ul>

<% if @date %>
<% loads_by_date = instances_by_cohort.map(&:atom).map(&:loads).sum.group_by(&:date)[@date] %>
<% loads_by_date.group_by(&:semester).each do |semester, loads| %>
  <h2>Timetable <%= @date %>, Semester <%= semester %>.</h2>
  <%= render :partial => 'loads/slots', :object => loads.map(&:slots).sum %>
<% end %>
<% end %>


<% end %>

