<h1>Instances</h1>

<table>
  <tr>
    <th>Cohort</th>
    <th>Molecule</th>
    <th>Status</th>
    <th>Date</th>
    <th>Credits</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instances.each do |instance| %>
  <tr>
    <td><%= instance.cohort_id %></td>
    <td><%= instance.molecule_id %></td>
    <td><%= instance.status %></td>
    <td><%= instance.date %></td>
    <td><%= instance.credits %></td>
    <td><%= link_to 'Show', instance %></td>
    <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
    <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instance', new_instance_path %>
