<h1>Instance</h1>

<p>
  <b>Molecule:</b>
  <%= @instance.molecule_id %>
</p>

<p>
  <b>Cohort:</b>
  <%= @instance.cohort_id %>
</p>

<p>
  <b>Date:</b>
  <%= @instance.date %>
</p>

<p>
  <b>Credits:</b>
  <%= @instance.credits %>
</p>

<p>
  <b>Status:</b>
  <%= @instance.status %>
</p>


<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>
