<%= form_for(@direction) do |f| %>
  <% if @direction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direction.errors.count, "error") %> prohibited this direction from being saved:</h2>

      <ul>
      <% @direction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :project_id %>
    <%= f.hidden_field :academic_id %>

<table>
  <tr>
    <td align="right"><%= f.label :midterm_mark %></td>
    <td><%= f.select :midterm_mark, (0..100).step(5), :include_blank => true %></td>
  </tr>
  <tr>
    <td align="right"><%= f.label :presentation_mark %></td>
    <td><%= f.select :presentation_mark, (0..100).step(5), :include_blank => true %></td>
  </tr>
  <tr>
    <td align="right"><%= f.label :report_mark %></td>
    <td><%= f.select :report_mark, (0..100).step(5), :include_blank => true %></td>
  </tr>
</table>

  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment, :cols => 70, :rows => 7 %>
  </div>
<table>
  <tr>
    <td align="right"><%= f.label :open, "Save now and submit later?" %></td>
    <td><%= f.check_box :open %></td>
    <td>(Uncheck this box to submit the final version of your report.)</td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit 'Update Report' %>
  </div>
<% end %>
