<div id="main">
<h1>Project reports and marks.</h1>

<% @directions_by_programme.each do |programme, directions| %>
<h2><%= programme %></h2>
<% directions.each do |direction| %>
  <% project = direction.project %>
  <h3<%= raw ' class="alert"' if project.critical? %>>(<%= project.author.registration %>) <%= project.author %>: <%= project.title %></h3>
<div style="color:blue">Final Mark: <%= project.total_mark %>%. (Penalties applied: ...)</div>
  <p><b><%= project.supervisor %> (Supervisor):</b>
    <%= direction.comment %>
  <br />
Midterm Report: <%= direction.midterm_mark %>%,
Presentation: <%= direction.presentation_mark %>%,
Report: <%= direction.report_mark %>%.
</p>
    <% project.examinations.each do |examination| %>
  <p><b><%= examination.academic %> (Examiner):</b>
    <%= examination.comment %>
<br />
Presentation: <%= examination.presentation_mark %>%,
Report: <%= examination.report_mark %>%.
</p>

    <% end %>
    <hr />
  <% end %>
<% end %>

</div>
