<h1>Supervisor's Report</h1>

<span <% if @direction.open %><%= raw 'style="color:red"' %><% end %>>

<h3><%= link_to @direction.project.author, @direction.project.author %>: <%= @direction.project.title_or_blank %></h3>

<p>
  <b>Supervisor:</b> <%= @direction.academic %>
</p>

<table>
<tr>
  <td align="right"><b>Midterm mark:</b></td>
  <td align="right"><%= @direction.midterm_mark %></td>
</tr>

<tr>
  <td align="right"><b>Presentation mark:</b></td>
  <td align="right"><%= @direction.presentation_mark %></td>
</tr>

<tr style="border-bottom: 1px solid #000;">
  <td align="right"><b>Report mark:</b></td>
  <td align="right"><%= @direction.report_mark %></td>
</tr>
</table>

<p>
  <b>Comment:</b>
</p>
<p>
  <%= @direction.comment %>
</p>

</span>

<% if can? :update, @direction %>
  <%= link_to 'Edit', edit_direction_path(@direction) %> |
<% end %>
<%= link_to 'Back', @direction.academic %>
