<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @direction.project_id %>
</p>

<p>
  <b>Academic:</b>
  <%= @direction.academic_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @direction.comment %>
</p>

<p>
  <b>Midterm mark:</b>
  <%= @direction.midterm_mark %>
</p>

<p>
  <b>Presentation mark:</b>
  <%= @direction.presentation_mark %>
</p>

<p>
  <b>Report mark:</b>
  <%= @direction.report_mark %>
</p>


<%= link_to 'Edit', edit_direction_path(@direction) %> |
<%= link_to 'Back', directions_path %>
