<h1>Supervisor's Report</h1>

<span <% if @direction.open %><%= raw 'style="color:red"' %><% end %>>

<h3><%= link_to @direction.project.author, @direction.project.author %>: <%= @direction.project.title_or_blank %></h3>

<p>
  <b>Supervisor:</b> <%= @direction.academic %>
</p>

<table>
<!--
<tr>
  <td align="right"><b>Midterm mark:</b></td>
  <td align="right"><%= @direction.midterm_mark %></td>
</tr>

<tr>
  <td align="right"><b>Presentation mark:</b></td>
  <td align="right"><%= @direction.presentation_mark %></td>
</tr>

<tr style="border-bottom: 1px solid #000;">
  <td align="right"><b>Report mark:</b></td>
  <td align="right"><%= @direction.report_mark %></td>
</tr>
-->
<tr>
  <td align="right"><b>Mark A:</b></td>
  <td align="right"><%= @direction.mark_a %></td>
  <td>
    <%= Direction::WEIGHT[:a] %>%
    (<%= link_to Direction::LABEL[:a], "#", title: Direction::TEXT[:a] %>)
  </td>
</tr>

<tr>
  <td align="right"><b>Mark B:</b></td>
  <td align="right"><%= @direction.mark_b %></td>
  <td>
    <%= Direction::WEIGHT[:b] %>%
    (<%= link_to Direction::LABEL[:b], "#", title: Direction::TEXT[:b] %>)
  </td>
</tr>

<tr>
  <td align="right"><b>Mark C:</b></td>
  <td align="right"><%= @direction.mark_c %></td>
  <td>
    <%= Direction::WEIGHT[:c] %>%
    (<%= link_to Direction::LABEL[:c], "#", title: Direction::TEXT[:c] %>)
  </td>
</tr>

<tr>
  <td align="right"><b>Mark D:</b></td>
  <td align="right"><%= @direction.mark_d %></td>
  <td>
    <%= Direction::WEIGHT[:d] %>%
    (<%= link_to Direction::LABEL[:d], "#", title: Direction::TEXT[:d] %>)
  </td>
</tr>

<tr>
  <td align="right"><b>Mark E:</b></td>
  <td align="right"><%= @direction.mark_e %></td>
  <td>
    <%= Direction::WEIGHT[:e] %>%
    (<%= link_to Direction::LABEL[:e], "#", title: Direction::TEXT[:e] %>)
  </td>
</tr>

<tr>
  <td align="right"><b>Mark F:</b></td>
  <td align="right"><%= @direction.mark_f %></td>
  <td>
    <%= Direction::WEIGHT[:f] %>%
    (<%= link_to Direction::LABEL[:f], "#", title: Direction::TEXT[:f] %>)
  </td>
</tr>


</table>

<p>
  <b>Comment:</b>
</p>
<p>
  <%= @direction.comment %>
</p>

</span>

<% if can? :update, @direction %>
  <%= link_to 'Edit', edit_direction_path(@direction) %> |
<% end %>
<%= link_to 'Back', @direction.academic %>
