<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.hidden_field :email %>

  <fieldset>
    <legend>Change Password</legend>
    <table>
      <tr>
        <td align="right"><%= f.label :password, "New password" %></td>
        <td><%= f.password_field :password, :autocomplete => "off" %></td>
      </tr>
      <tr>
        <td align="right"><%= f.label :password_confirmation, "Confirm new password" %></td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
      <tr>
        <td align="right"><%= f.label :current_password %></td>
        <td><%= f.password_field :current_password %></td>
      </tr>
      <tr>
	<td />
        <td><%= f.submit "Change my password" %></td>
      </tr>
    </table>
  </fieldset>
<% end %>

<%= link_to "Back", :back %>
