<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <div class="field">
      <tr>
	<td>
	  <%= f.label :first, 'First Name' %>
	</td>
	<td>
	  <%= f.text_field :first %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :last, 'Last Name' %>
	</td>
	<td>
	  <%= f.text_field :last %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :registration, 'Student ID' %>
	</td>
	<td>
	  <%= f.text_field :registration %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :room_id, "Desk Location" %>
	</td>
	<td>
	  <%= f.select :room_id, Room.all.map { |x| [x, x.id] }, :include_blank => true %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :photo_url %>
	</td>
	<td>
	  <%= f.text_field :photo_url %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :title, "Dissertation Title" %>
	</td>
	<td>
	  <%= f.text_field :title %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :interests %>
	</td>
	<td>
	  <%= f.text_area :interests, :rows  => 4 %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :programme %>
	</td>
	<td>
	  <%= f.select :programme, PROGRAMMES, :include_blank => true %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :status %>
	</td>
	<td>
	  <%= f.select :status, STATUSES, :include_blank => true %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :email %>
	</td>
	<td>
	  <%= f.text_field :email %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :home_url, "Home Page" %>
	</td>
	<td>
	  <%= f.text_field :home_url %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :work_phone, "Phone" %>
	</td>
	<td>
	  <%= f.text_field :work_phone %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :funder %>
	</td>
	<td>
	  <%= f.text_field :funder %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :started_on %>
	</td>
	<td>
	  <%= f.date_select :started_on,
                :include_blank => true, 
                :order => [:day, :month, :year] %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :expected_on %>
	</td>
	<td>
	  <%= f.date_select :expected_on,
                :include_blank => true, 
                :order => [:day, :month, :year] %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :viva_date %>
	</td>
	<td>
	  <%= f.date_select :viva_date,
                :include_blank => true, 
                :order => [:day, :month, :year] %>
	</td>
      </tr>
      <tr>
	<td>
	  <%= f.label :completed_on %>
	</td>
	<td>
	  <%= f.date_select :completed_on,
	        :include_blank => true, 
	        :order => [:day, :month, :year] %>
	</td>
      </tr>
    </div>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
