<h1>Graduate Students</h1>

<h2 class="edit-head"><%= @students.count %> Current Students</h2>
[<%= mail_to @students.map(&:email).join(','), "Mail all", :cc => "goetz.pfeiffer@nuigalway.ie" %>]
[<%= mail_to @students.map(&:academics).inject(&:|).select { |x| ["Mathematics", "CRF"].include? x.school.name }.map(&:email).join(','), "Mail to all supervisors", :cc => "goetz.pfeiffer@nuigalway.ie" %>]


<% @students.group_by(&:programme).each do |programme, students| %>
  <h3><%= programme %></h3>
  <table>
    <% students.each do |student| %>
      <tr>
        <td><%= link_to '[Mail]', student.mailto %></td>
        <td><%= image_tag student.photo_url, :size => "16x16", :alt => '[img]' %></td>
        <td><%= student.registration_or_blank %></td>
        <td>
          <%= link_to student, student %>
        </td>
        <td>
          (supervised by <%= student.supervisors.to_sentence %>)
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<h2><%= @former_students.count %> Former Students</h2>

<table>
<% @former_students.each do |student| %>
  <tr>
    <td><%= image_tag student.photo_url, :size => "16x16", :alt => '[img]' %></td>
    <td><%= link_to student, student %></td>
    <td><%= student.registration_or_blank %></td>
    <td><%= student.programme %></td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Student %>
  | <%= link_to 'New Student', new_student_path %>
<% end %>
