<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @student.first %>
</p>

<p>
  <b>Last:</b>
  <%= @student.last %>
</p>

<p>
  <b>Registration:</b>
  <%= @student.registration %>
</p>

<p>
  <b>Location:</b>
  <%= @student.location %>
</p>

<p>
  <b>Photo url:</b>
  <%= @student.photo_url %>
</p>

<p>
  <b>Interests:</b>
  <%= @student.interests %>
</p>

<p>
  <b>Programme:</b>
  <%= @student.programme %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Home url:</b>
  <%= @student.home_url %>
</p>

<p>
  <b>Work phone:</b>
  <%= @student.work_phone %>
</p>

<p>
  <b>Title:</b>
  <%= @student.title %>
</p>

<p>
  <b>Funder:</b>
  <%= @student.funder %>
</p>

<p>
  <b>Supervisor:</b>
  <%= @student.supervisor %>
</p>

<p>
  <b>Cosupervisor:</b>
  <%= @student.cosupervisor %>
</p>

<p>
  <b>Status:</b>
  <%= @student.status %>
</p>

<p>
  <b>Started on:</b>
  <%= @student.started_on %>
</p>

<p>
  <b>Expected on:</b>
  <%= @student.expected_on %>
</p>

<p>
  <b>Completed on:</b>
  <%= @student.completed_on %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
