<% content_for :side do %>
  <h3>Graduate Students</h3>
  <ul><%= render @students %></ul>
<% end %>

<h2><%= @student %></h2>

<%= image_tag @student.photo_url, :align => :right, :size => "96x96", :alt => "[image]" %>

<p>
  <%= @student.programme %>
  (<%= @student.status_or_blank %>)
</p>

<hr />
<p>
  <%= @student.registration_or_blank %>
  | <%= @student.extension %>
  | <%= @student.email %>
<% if not @student.home_url.blank? %>
  | <%= @student.home_url %>
<% end %>
  | <%= if @student.room then link_to @student.room, @student.room else '...' end %>
</p>
<hr />

<p>
  <b>Dissertation Title:</b>
  <%= @student.title %>
</p>

<p>
  <b>Research Interests:</b>
  <%= @student.interests %>
</p>

<p>
  <b>Funding Source:</b>
  <%= @student.funder %>
</p>

<p>
  <b>Home Page:</b>
  <%= @student.home_url %>
</p>


<table class="dates">
<tr>
  <th>Started on:</th>
  <td><%= @student.started_on %></td>
</tr>
<tr>
  <th>Expected on:</th>
  <td><%= @student.expected_on %></td>
</tr>
<tr>
  <th>Viva date:</th>
  <td><%= @student.viva_date %></td>
</tr>
<tr>
  <th>Completed on:</th>
  <td><%= @student.completed_on %></td>
</tr>
</table>

<h3 class="edit-head">
  <%= 'Supervisor'.pluralize @student.supervisions.count %>
</h3>
<% if can? :update, @student %>
  <div class="edit">
    <%= link_to '[+]', new_supervision_path(:student_id => @student) %>
  </div>
<% end %>

<ul>
  <% @student.supervisions.each do |supervision| %>
    <li>
      <%= link_to supervision.academic, supervision.academic %> 
      (<%= supervision.status %>)
      <% if can? :update, @student %>
        <div class="edit">
          <%= link_to '[-]', supervision, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<h3 class="edit-head">GRC</h3>
<% if can? :update, @student %>
  <div class="edit">
    <%= link_to '[+]', new_committee_path(:student_id => @student) %>
  </div>
<% end %>
<ul>
  <% @student.committees.each do |committee| %>
    <li>
      <%= link_to committee.academic, committee.academic %>
      <% if can? :update, @student %>
        <div class="edit">
          <%= link_to '[-]', committee, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<hr />

<% if can? :update, @student %>
  <%= link_to 'Edit', edit_student_path(@student) %> |
<% end %>
<% if can? :destroy, @student %>
  <%= link_to 'Delete', @student, :method => :delete, :data => { :confirm => 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', students_path %>
