<%= form_for(@atom) do |f| %>
  <% if @atom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atom.errors.count, "error") %> prohibited this atom from being saved:</h2>

      <ul>
      <% @atom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
<table width="100%">
<tr>
<td><%= f.label :code %></td>
<td><%= f.text_field :code, :size => 6 %></td>
<td><%= f.label :title %></td>
<td><%= f.text_field :title, :size => 32 %></td>
<td><%= f.label :hours %></td>
<td><%= f.number_field :hours, :size => 4 %></td>
</tr>
</table>
</fieldset>
<fieldset>
  <legend><%= f.label :discipline %></legend>
    <%= f.select :discipline, Atom::DISCIPLINES, :include_blank => true %>
</fieldset>
<fieldset>
  <legend><%= f.label :description %></legend>
    <%= f.text_area :description, :size => "80x5" %>
</fieldset>
<fieldset>
  <legend>Time Tabling</legend>
  <table width="100%">
    <tr>
      <td><%= f.label :weeks %></td>
      <td><%= f.text_field :weeks, :size => 10 %></td>
      <td><%= f.label :semester %></td>
      <td><%= f.number_field :semester, :size => 2 %></td>
      <td><%= f.label :times %></td>
      <td><%= f.text_field :times, :size => 40 %></td>
    </tr>
  </table>
</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
