<h3>Atoms</h3>

This is the complete list of teaching atoms provided by the school,
sorted by Discipline, and (approximately) by Year and Semester.

<% @atoms.group_by(&:discipline).each do |discipline, atoms| %>

<h1><%= discipline.titleize %> (<%= atoms.map(&:hours).sum %> hrs)</h1>

<table class="year">
<% atoms.group_by(&:year).sort.each do |year, atoms_by_year| %>

<tr>
<% atoms_by_year.group_by(&:semester).sort.each do |semester, atoms_by_semester| %>

<td class="year">
   <h4>Year <%= year %>, Semester <%= semester %> (<%= atoms_by_semester.map(&:hours).sum %> hrs)</h4>

<table>
<% atoms_by_semester.each do |atom| %>
  <tr>
    <td><%= link_to atom.code, atom %></td>
    <td>(<%= atom.hours %> hrs)</td>
    <td><%= truncate atom.title, length: 50 %></td>
  </tr>
<% end %>
</table>
</td>

<% end %>
</tr>
<% end %>
</table>
<br />
<% end %>

<%= link_to 'New Atom', new_atom_path %>
