<h3><%= @atom.discipline.titleize %></h3>
<h2>
  <%= @atom.code %>:
  <%= @atom.title %>
</h2>

<p>
  <%= raw BlueCloth.new(@atom.description).to_html %>
</p>

<p>
  <b>Load:</b>
  <%= @atom.hours %> hours in weeks <%= @atom.weeks %> of semester
<%= @atom.semester %>.
</p>

<p>
  <b>Times:</b>
  <%= @atom.times %>
</p>


<table class="times">
  <% table = @atom.times_to_table %>
<tr>
  <th></th>
  <% table[:cols].each do |col| %>
  <th class="times"> <%= col %> </th>
  <% end %>
</tr>
<% table[:rows].each do |row| %>
<tr>
  <th class="times"><%= row %>:00</th>
  <% table[:cols].each do |col| %>
  <% venue = table[:table][row][col] %>
<% if venue != '' %>
  <td class="times" bgcolor="lightgreen"><%= table[:table][row][col] %></td>
<% else %>
  <td class="times"></td>
<% end %>
  <% end %>
</tr>
<% end %>
</table>

<% if can? :destroy, @atom %>
<h3 class="edit-head">Lecturers</h3>
<% if can? :update, @atom %>
  <div class="edit">
    <%= link_to add_symbol, new_load_path(:atom_id => @atom) %>
  </div>
<% end %>
<ul>
<% @atom.loads.each do |load| %>
<li>
<%= load.year %>:
<%= link_to load.academic, load.academic %>.
<% if can? :update, @atom %>
  <div class="edit">
    <%= link_to edit_symbol, edit_load_path(load) %>
  </div>
<% end %>
</li>
<% end %>
</ul>
<% end %>

<hr />
<%= link_to 'Edit', edit_atom_path(@atom) %> |
<%= link_to 'Destroy', @atom, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', atoms_path %>
