<h3><%= @atom.discipline %></h3>
<h2>
  <%= @atom.code %>:
  <%= @atom.title %>
</h2>

<p>
  <%= raw BlueCloth.new(@atom.description).to_html %>
</p>

<p>
  <b>Load:</b>
  <%= @atom.hours %> hours in weeks <%= @atom.weeks %> of semester
<%= @atom.semester %>.
</p>

<p>
  <b>Times:</b>
  <%= @atom.times %>
</p>

<%= link_to 'Edit', edit_atom_path(@atom) %> |
<%= link_to 'Destroy', @atom, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', atoms_path %>
