<% content_for :side do %>
  <h3>Atoms</h3>
    <ul><%= render Atom.all %></ul>
<% end %>


<h3><%= @atom.discipline.titleize %></h3>
<h1><%= @atom %></h1>

<p>
  <%= raw BlueCloth.new(@atom.description).to_html %>
</p>

<p>
  <b>Load:</b>
  <%= @atom.hours %> hours in semester
<%= @atom.semester %>.
</p>

<% if can? :destroy, @atom %>
<h3 class="edit-head">Lecturers</h3>
<% if can? :update, @atom %>
  <div class="edit">
    <%= link_to add_symbol, new_load_path(:atom_id => @atom) %>
  </div>
<% end %>
<ul>
<% @atom.loads.each do |load| %>
<li>
<%= load.year %>:
<%= load.hours %> hrs,
<%= link_to load.academic, load %>.
<% if can? :update, @atom %>
  <div class="edit">
    <%= link_to edit_symbol, edit_load_path(load) %>
  </div>
<% end %>
</li>
<% end %>
</ul>
<% end %>

<hr />
<%= link_to 'Edit', edit_atom_path(@atom) %> |
<%= link_to 'Destroy', @atom, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', atoms_path %>
