<div id="main">
<h1>Project Students</h1>

<h2><%= @authors.count %> Current Students</h2>

<% @authors.group_by(&:programme).each do |programme, authors| %>
  <h3><%= programme %></h3>
  <table>
    <% authors.each do |author| %>
      <tr>
        <td><%= image_tag author.photo_url, :size => "16x16", :alt => '[img]' %></td>
        <td><%= link_to author, author %></td>
        <td><%= author.registration_or_blank %></td>
        <td><%= link_to '[Mail]', author.mailto %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<%= mail_to @authors.map(&:email).join(','), "Mail current", :cc => "goetz.pfeiffer@nuigalway.ie" %> 
<% if can? :create, Author %>
  | <%= link_to 'New Student', new_author_path %>
<% end %>
</div>
