<div id="side">
  <h3>Project Students</h3>
  <ul><%= render @authors %></ul>
</div>
<div id="main">
<h2><%= @author %></h2>

<%= image_tag @author.photo_url, :align => :right, :size => "96x96", :alt => "[image]" %>

<p>
  <%= @author.programme %>
</p>

<hr />
<p>
  <%= @author.registration_or_blank %>
  | <%= @author.email %>
</p>
<hr />

<h3 class="edit-head">
  <%= 'Project'.pluralize @author.projects.count %>
</h3>
<% if can? :update, @author %>
  <div class="edit">
    <%= link_to '[+]', new_project_path(:author_id => @author) %>
  </div>
<% end %>

<ul>
<%= render @author.projects %>
</ul>

<hr/>

<% if can? :update, @author %>
  <%= link_to 'Edit', edit_author_path(@author) %> |
<% end %>
<% if can? :delete, @author %>
  <%= link_to 'Delete', @author, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', :back %>
</div>
