<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% content_for :side do %>
<ul>
<% Project.all.select { |x| x.bookings.count < 1 }.sort_by { |x| x.author.last_first }.each do |project| %>
<li>
<%= f.radio_button(:project_id, project.id) %><%= link_to project.short, project, title: project.title %>
</li>
<% end %>
</ul>
<% end %>

<h1>New booking</h1>

<h3><%= @booking.project.short %></h3>

<table class="bookings">
<tr class="booking">
<th>Time</th>
<% Venue.all.each do |venue| %>
<th><%= venue %><%= f.radio_button(:venue_id, venue.id) %></th>
<% end %>
</tr>
<% Slot.all.each do |slot| %>
<tr class="booking">
<td><%= slot %><%= f.radio_button(:slot_id, slot.id) %></td>
<% Venue.all.each do |venue| %>
<% booking = Booking.find_by_slot_id_and_venue_id(slot.id, venue.id) %>
<td><%= if booking then link_to booking.project.short, booking, title: booking.project.title, method: :delete, data: { confirm: 'Delete Booking: Are you sure?' } else "---" end %></td>
<% end %>
</tr>
<% end %>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<%= link_to 'Back', @booking.project %>

<% end %>
