<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @booking.project_id %>
</p>

<p>
  <b>Slot:</b>
  <%= @booking.slot_id %>
</p>

<p>
  <b>Venue:</b>
  <%= @booking.venue_id %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
