<h1>SchoolMaster</h1>
<p>
  Welcome to the World of Student Supervision!
</p>

<p>It is now <%= Time.now.strftime('%H:%M:%S (%Z) on %A, %B %d, %Y') %>.</p>

<p>
From  here you can access:
<ul>
<li>
a list of <%= Academic.all.count %> <%= link_to 'academics', academics_path %>,
</li>
<li>
a list of <%= Student.all.count %> <%= link_to 'graduate students', students_path %>,
</li>
<li>
a list of <%= Room.all.count %> <%= link_to 'postgrad rooms', rooms_path %>,
</li>
<li>
a list of <%= Author.current.count %> <%= link_to 'project students', authors_path %>.
</li>
<li>
a list of <%= Course.all.count %> <%= link_to 'module descriptors', courses_path %>.
</li>
</ul>
</p>

<p>
<ul>
<li>
<%= link_to 'enrol', new_enrolment_path(:user_id => current_user) %> for final year projects.
</li>
</ul>
</p>
