<h1>SchoolMaster</h1>
<p>
  Welcome to the School's digital self.
</p>

<p>
From  here you can access
<ul>
<li>
a list of <%= Academic.all.count %> <%= link_to 'academics', academics_path %>
</li>
<li>
a list of <%= Student.all.count %> <%= link_to 'postgraduate students', students_path %>
</li>
<li>
a list of <%= Room.all.count %> <%= link_to 'postgrad rooms', rooms_path %>
</li>
</ul>
</p>

