<h1>Welcome ...</h1>
<p>
  ... to the World of Teaching and Learning!
</p>

<p>It is now <%= Time.now.strftime('%H:%M:%S (%Z) on %A, %B %d, %Y') %>.</p>

<p>
From  here you can access:
<ul>
<% if can? :read, Academic %>
<li>
a list of <%= Academic.all.count %> <%= link_to 'academics', academics_path %>,
</li>
<% end %>
<% if can? :read, Student %>
<li>
a list of <%= Student.all.count %> <%= link_to 'graduate students', students_path %>,
</li>
<% end %>
<% if can? :read, Room %>
<li>
a list of <%= Room.all.count %> <%= link_to 'postgrad rooms', rooms_path %>,
</li>
<% end %>
<% if can? :read, Author %>
<li>
a list of <%= Author.current.count %> <%= link_to 'project students', authors_path %>.
</li>
<% end %>
<% if can? :read, Course %>
<li>
a list of <%= Course.all.count %> <%= link_to 'module descriptors', courses_path %>.
</li>
<% end %>
<% if can? :read, Cohort %>
<li>
a list of <%= Cohort.all.count %> <%= link_to 'time tables', cohorts_path %>.
</li>
<% end %>
</ul>
And you can:
<ul>
<li>
  <%= link_to 'enrol', current_user && current_user.enrolment ? current_user.enrolment : new_enrolment_path(:user_id => current_user) %>
 for final year projects.
</li>
</ul>
</p>
