<% total = loads.map(&:hours).sum %>
<tr>
  <td width="55"></td>
  <td><b><%= link_to academic, academic %></b></td>
  <td align="right"><%= total %></td>
  <td width="300">  
    <svg height="10"><rect width="<%= total %>" height="10" style="fill:rgb(255,0,0);"/></svg>
  </td>
</tr>
<% loads.each do |load| %>
  <tr class="volatile">
    <td align="right"><%= link_to load.code, load %></td>
    <td><%= load.title %></td>
    <td align="right"><%= load.hours %></td>
  </tr>
<% end %>
