<h1><%= @load.atom %></h1>

<%= form_for(@load) do |f| %>
  <% if @load.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
      <% @load.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :atom_id %>

<fieldset>
  <legend>Teaching Load</legend>
  <table width="100%">
    <tr>
      <td><%= f.label :academic_id, 'Lecturer' %></td>
      <td><%= f.select :academic_id, Academic.all.map { |x| [x, x.id] }, :include_blank => true %></td>
      <td><%= f.label :hours %></td>
      <td><%= f.number_field :hours %></td>
      <td>Semester:
      <% Load::SEMESTERS.each do |semester| %>
        <%= f.label semester %>
        <%= f.radio_button :semester, semester %>
      <% end %>
      </td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Time Tabling</legend>
  <table width="100%">
    <tr>
      <td title="Here, an academic year is represented by its January 1, or rather the year that this day falls in."><%= f.label :date, "Date (Year)" %></td>
      <td><%= f.number_field :date, :size => 4 %></td>
      <td title="The range of weeks in the semester, i.e., 1-6 for the first 6 weeks, or 7-12 for the last six."><%= f.label :weeks %></td>
      <td><%= f.text_field :weeks, :size => 10 %></td>
      <td title="A list of time slots with venues, separated by semicolons (;).  Each time slot consists of a 3-letter day of the week (Mon, Tue, Wed, Thu, or Fri) followed by a 2-digit hour of the day (i.e., 09 for 9am, or 13 for 1pm). A colon (:) is used to separate the venue, if present, from the time slot."><%= f.label :times %></td>
      <td><%= f.text_field :times, :size => 40 %></td>
    </tr>
    <tr>
      <td></td><td>(e.g.: 2015 for 2014/2015)</td>
      <td></td><td>(e.g.: 1-12)</td>
      <td></td><td>(e.g.: Mon09:ABD-1020;Tue13:ADB-1020)</td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Comment</legend>
  <table width="100%">
    <tr>
      <td><%= f.text_area :comment, :rows => 12, :cols => 80 %></td>
</tr>
</table>
</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
