<h1><%= @load.atom %></h1>

<%= form_for(@load) do |f| %>
  <% if @load.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
      <% @load.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :atom_id %>

<fieldset>
  <legend>Teaching Load</legend>
  <table width="100%">
    <tr>
      <td><%= f.label :academic_id, 'Lecturer' %></td>
      <td><%= f.select :academic_id, Academic.all.map { |x| [x, x.id] }, :include_blank => true %></td>
      <td><%= f.label :hours %></td>
      <td><%= f.number_field :hours %></td>
      <td>Semester:
      <% Load::SEMESTERS.each do |semester| %>
        <%= f.label semester %>
        <%= f.radio_button :semester, semester %>
      <% end %>
      </td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Time Tabling</legend>
  <table width="100%">
    <tr>
      <td><%= f.label :date, "Date (Year)" %></td>
      <td><%= f.number_field :date, :size => 4 %></td>
      <td><%= f.label :weeks %></td>
      <td><%= f.text_field :weeks, :size => 10 %></td>
      <td><%= f.label :times %></td>
      <td><%= f.text_field :times, :size => 40 %></td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Comment</legend>
  <table width="100%">
    <tr>
      <td><%= f.text_area :comment, :rows => 12, :cols => 80 %></td>
</tr>
</table>
</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
