<h1><%= @load.atom %></h1>

<%= form_for(@load) do |f| %>
  <% if @load.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
      <% @load.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :atom_id %>

<fieldset>
  <legend>Lecturer</legend>
  <table width="100%">
    <tr>
      <td><%= f.select :academic_id, Academic.all.map { |x| [x, x.id] }, :include_blank => true %></td>
</tr>
</table>
</fieldset>
<fieldset>
  <legend>Time Tabling</legend>
  <table width="100%">
    <tr>
      <td><%= f.label :year %></td>
      <td><%= f.number_field :year %></td>
      <td><%= f.label :times %></td>
      <td><%= f.text_field :times, :size => 40 %></td>
    </tr>
  </table>
</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
