<h3>Loads</h3>

<% @loads.group_by(&:year).each do |year, loads_by_year| %>


<h1>Teaching Load <%= year %>. (<%= loads_by_year.map(&:hours).sum %> hrs)</h1>


<table>
<% loads_by_year.group_by(&:academic).sort.each do |academic, loads| %>
<tr>
  <td></td>
  <td><b><%= academic %></b></td>
  <td><%= loads.map(&:hours).sum %></td>
</tr>
<% loads.each do |load| %>
<tr>
  <td><%= link_to load.code, load %></td>
  <td><%= load.title %></td>
  <td><%= load.hours %></td>
</tr>
<% end %>
<% end %>
</table>
<% end %>
