<h3>Loads</h3>

<% @loads.group_by(&:date).each do |date, loads_by_date| %>

<h2><%= date %> (<%= loads_by_date.map(&:hours).sum %> hrs)</h2>

<% loads_by_date.group_by(&:discipline).each do |discipline, loads| %>

<h1><%= discipline.titleize %> (<%= loads.map(&:hours).sum %> hrs)</h1>

<table class="year">
<% loads.group_by(&:year).sort.each do |year, loads_by_year| %>

<tr>
<% loads_by_year.group_by(&:semester).sort.each do |semester, loads_by_semester| %>

<td class="year">
   <h4>Year <%= year %>, Semester <%= semester %> (<%= loads_by_semester.map(&:hours).sum %> hrs)</h4>

<table>
<% loads_by_semester.sort_by(&:code).each do |load| %>
  <tr>
    <td><%= link_to load.code, load %></td>
    <td>(<%= load.hours %> hrs : <%= load.academic.short %>)</td>
    <td><%= load.title %></td>
  </tr>
<tr>
  <td></td>
  <td>weeks <%= load.weeks %></td>
<td style="font-size: smaller;">
<%= load.times %>
</td>
</tr>
<% end %>
</table>
</td>

<% end %>
</tr>
<% end %>
</table>
<br />
<% end %>
<% end %>


<% @loads.group_by(&:date).sort.reverse.each do |date, loads_by_date| %>

<div class="volatile">
<h1>Teaching Load <%= date %>. (<%= loads_by_date.map(&:hours).sum %> hrs)</h1>

<table>
<% loads_by_date.group_by(&:academic).sort_by { |academic, loads| academic.last }.each do |academic, loads| %>
  <% total = loads.map(&:hours).sum %>
<tr>
  <td width="50"></td>
  <td><b><%= link_to academic, academic %></b></td>
  <td align="right"><%= total %></td>
  <td width="300">  
    <svg height="10"><rect width="<%= total %>" height="10" style="fill:rgb(255,0,0);"/></svg>
  </td>
</tr>
<% loads.each do |load| %>
<tr class="volatile">
  <td><%= link_to load.code, load %></td>
  <td><%= load.title %></td>
  <td align="right"><%= load.hours %></td>
</tr>
<% end %>
<% end %>
</table>
<% end %>
</div>
