<%# --Side bar-- %>

<% content_for :side do %>
  <% render partial: 'dates', object: @loads_by_date.keys.sort.reverse %>
<% end %>


<%# --Timetables-- %>

<% @loads.group_by(&:semester).sort.each do |semester, loads| %>
  <h2>Timetable <%= academic_year_code(@date) %>, Semester <%= semester %>.</h2>
  <%= render :partial => 'slots', :object => loads.map(&:slots).sum %>
<% end %>


<%# --Disciplines-- %>

<h2><%= academic_year_code(@date) %> (<%= @loads.map(&:hours).sum %> hrs)</h2>
<% @loads.group_by(&:discipline).each do |discipline, loads| %>
  <h1><%= discipline.titleize %> (<%= loads.map(&:hours).sum %> hrs)</h1>
  <table class="year">
    <% loads.group_by(&:year).sort.each do |year, loads_by_year| %>
      <tr><%= render partial: 'year', object: year, locals: { loads: loads_by_year } %></tr>
    <% end %>
  </table>
  <br />
<% end %>


<%# --Lecturers-- %>

<div class="volatile">
  <% my_loads = @loads.select(&:academic) %>
  <h1>Teaching Load <%= academic_year_code(@date) %>. (<%= my_loads.map(&:hours).sum %> hrs)</h1>
  <table>
    <% my_loads.group_by(&:academic).sort_by { |academic, loads| -loads.map(&:hours).sum }.each do |academic, loads| %>
      <%= render partial: 'academic', object: academic, locals: { loads: loads } %>
    <% end %>
  </table>
</div>
