<h3>Teaching Load <%= @load.year %></h3>
<h1><%= link_to @load.atom, @load.atom %></h1>

<p>
  <b>Lecturer:</b>
  <%= @load.academic %>
</p>

<p>
  <b>Weeks:</b>
  <%= @load.weeks %>
</p>

<%= times_table_for(@load.times) %>

<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'Back', loads_path %>
