<h3>Teaching Load <%= academic_year_code(@load.date) %></h3>
<h1><%= link_to @load.atom, @load.atom %></h1>

<p>
  <b>Lecturer:</b>
  <%= link_to @load.academic, @load.academic %>
</p>

<p>
  <b>Work Load:</b> <%= @load.hours %> hours in weeks <%= @load.weeks %> of
semester <%= @load.semester %>.
</p>

<p><%= @load.comment %></p>

<%= times_table_for(@load.times) %>

<% if @load.unlocked? && can?(:update, @load) %>
<%= link_to 'Edit', edit_load_path(@load) %> |
<% end %>
<% if @load.unlocked? && can?(:destroy, @load) %>
<%= link_to 'Delete', @load, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', loads_path %>
<div style="float:right;font-size:smaller">
<%= @load.updated_at.strftime("(Updated on %a %b %d, %Y at %H:%M:%S.)") %>
</div>
