<h3>Teaching Load <%= @load.year %></h3>
<h1><%= link_to @load.atom, @load.atom %></h1>

<p>
  <b>Lecturer:</b>
  <%= @load.academic %>
</p>

<p>
  <b>Load:</b> <%= @load.hours %> hours in weeks <%= @load.weeks %> of
semester <%= @load.semester %>.
</p>

<%= times_table_for(@load.times) %>

<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'Delete', @load, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', loads_path %>
