<p id="notice"><%= notice %></p>

<p>
  <b>Academic:</b>
  <%= @load.academic_id %>
</p>

<p>
  <b>Atom:</b>
  <%= @load.atom_id %>
</p>

<p>
  <b>Year:</b>
  <%= @load.year %>
</p>


<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'Back', loads_path %>
