<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @record.academic %></h3>

  <%= f.hidden_field :academic_id %>

  <div class="field">
    <table>
    <% Broker.all.each do |broker| %>
      <tr><td align="right"><%= f.label :broker_id, broker.name %></td>
      <td><%= f.radio_button :broker_id, broker.id %></td></tr>
    <% end %>
    </table>
  </div>
  <div class="field">
    <%= f.label :authorid %><br />
    <%= f.text_field :authorid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
