<div id="main">
<p id="notice"><%= notice %></p>

<h1>Project.</h1>

<p>
  <b>Author:</b>
  <%= link_to @project.author, @project.author %> (ID: <%= @project.author.registration %>)
</p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Supervisor:</b>
  <%= link_to @project.direction.academic, @project.direction.academic %>
</p>

<h3 class="edit-head">Examiners:</h3>
<% if can? :update, @project %>
  <div class="edit">
    <%= link_to '[+]', new_examination_path(:project_id => @project) %>
  </div>
<% end %>

<ul>
  <% @project.examinations.each do |examination| %>
    <li>
      <%= link_to examination.academic, examination.academic %> 
      <% if can? :update, @project %>
        <div class="edit">
          <%= link_to '[-]', examination, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<% if can? :update, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', @project.author %>
<div>
