<div id="main">
<p id="notice"><%= notice %></p>

<h2>Project.</h2>

<h1><%= @project.title %></h1>

<p>
  <b>Author:</b>
  <%= link_to @project.author, @project.author %> (ID: <%= @project.author.registration %>)
</p>

<p>
  <b>Supervisor:</b>
  <%= link_to @project.direction.academic, @project.direction.academic %>
</p>

<h3 class="edit-head"><%= 'Examiner'.pluralize(@project.examinations.count) %>:</h3>
<% if can? :update, @project %>
  <div class="edit">
    <%= link_to '[+]', new_examination_path(:project_id => @project) %>
  </div>
<% end %>

<ul>
  <% @project.examinations.each do |examination| %>
    <li>
      <%= link_to examination.academic, examination.academic %> 
      <% if can? :update, @project %>
        <div class="edit">
          <%= link_to '[-]', examination, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<h3 class="edit-head">Time Slot:</h3>
<% if can? :update, @project %>
  <div class="edit">
    <%= link_to '[+]', new_booking_path(:project_id => @project) %>
  </div>
<% end %>

<ul>
  <% @project.bookings.each do |booking| %>
    <li>
      <%= link_to booking, booking %> 
      <% if can? :update, @project %>
        <div class="edit">
          <%= link_to '[-]', booking, :confirm => 'Are you sure?', :method => :delete %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<h3>Assessment</h3>

<%= render @project.direction %>

<hr />

<% if can? :update, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<% if can? :destroy, @project %>
  <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', :back %>
<div>
