<%= form_for(@committee) do |f| %>
  <% if @committee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committee.errors.count, "error") %> prohibited this committee from being saved:</h2>

      <ul>
      <% @committee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :student_id %>

<table>
  <div class="field">
    <tr>
      <td align="right"><%= f.label :academic_id, "Name" %></td>
      <td>
        <%= f.select :academic_id, Academic.all.map { |x| [x, x.id] }, :include_blank => true %>
      </td>
    </tr>
  </div>
  <div class="field">
    <tr>
      <td align="right"><%= f.label :chair, "Chair?" %></td>
      <td><%= f.check_box :chair %></td>
  </div>
  <div class="actions">
    <tr><td><%= f.submit "Submit" %></td></tr>
  </div>
</table>
<% end %>
