<h3><%= link_to @committee.student, @committee.student %></h3>
<h1>GRC member</h1>
<p>
  <b>Name:</b>
  <%= link_to @committee.academic, @committee.academic %>
</p>

<p>
  <b>Chair:</b>
  <%= @committee.chair %>
</p>



<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= link_to 'Back', committees_path %>
