<h1>Listing proposals</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Enrolment</th>
    <th>Academic</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%= truncate(proposal.title, :length => 80) %></td>
    <td><%= proposal.enrolment %></td>
    <td><%= proposal.academic %></td>
    <td><%= proposal.status %></td>
    <td><%= link_to 'Show', proposal %></td>
    <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
    <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proposal', new_proposal_path %>
