<div id="main">
<h1>Postgraduate rooms</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Capacity</th>
    <th>Students</th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= link_to room, room %></td>
    <td align="right"><%= room.capacity %> (<%= room.capacity - room.students.count %> free)</td>
    <td align="right"><%= room.students.count %></td>
  </tr>
<% end %>
  <tr>
    <th>Total:</th>
    <td align="right"><%= @rooms.map{ |x| x.capacity || 0 }.sum %></td>
    <td align="right"><%= @rooms.map{ |x| x.students.count }.sum %></td>
  </tr>
</table>

<br />

<%= link_to 'New Room', new_room_path %>
</div>
