<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @room.location %>
</p>

<p>
  <b>Capacity:</b>
  <%= @room.capacity %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Destroy', @room, :method => :delete, :data => { :confirm => 'Are you sure?' } %> |
<%= link_to 'Back', rooms_path %>
