<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
<table width="100%">
<tr>
<td>
    <%= f.label :code %>
</td>
<td>
    <%= f.text_field :code, :size => 4 %>
</td>
<td>
    <%= f.label :title %>
</td>
<td>
    <%= f.text_field :title, :size => 32 %>
</td>
<td>
    <%= f.label :credits %>
    <%= f.number_field :credits, :in => 0..60, :step => 5, :size => 4 %>
</td>
<tr>
</table>
</fieldset>
<fieldset>
  <legend><%= f.label :description %></legend>
    <%= f.text_area :description, :size => "80x5" %>
</fieldset>
<fieldset>
  <legend>Time Tabling</legend>
  <table width="100%">
    <tr>
      <td>
	<%= f.label :taught, "Taught in Semester(s)" %>
      </td>
      <td>
	<%= f.text_field :taught, :size => 4 %>
      </td>
      <td>
	<%= f.label :examined, "Examined in Semester(s)" %>
      </td>
      <td>
	<%= f.text_field :examined, :size => 4 %>
      </td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Workload</legend>
  <table width="100%">
    <tr>
      <% Course::WORKS.each do |work| %>
        <td><%= f.label work %></td>
      <% end %>
    </tr>
    <tr>
      <% Course::WORKS.each do |work| %>
        <td><%= f.number_field work, :min => 0, :size => 6 %></td>
      <% end %>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend><%= f.label :outcomes, "Module Learning Outcomes" %></legend>
    On successful completion of this module the learner should be able to:<br />
    <%= f.text_area :outcomes, :size => "80x10" %>
</fieldset>
<fieldset>
  <legend><%= f.label :content, "Indicative Content" %></legend>
    <%= f.text_area :content, :size => "80x10" %>
</fieldset>
<fieldset>
  <legend><%= f.label :resources, "Module Resources" %></legend>
    <%= f.text_area :resources, :size => "80x10" %>
</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
