<h1>Module Descriptors</h1>

<% Course::DISCIPLINES.each do |x| %>
  | <%= link_to x, :anchor => x %>
<% end %> |

<% @courses.group_by(&:discipline).each do |discipline, courses| %>
<h2><%= content_tag(:a, discipline, :name => discipline) %></h2>
<ul>
<% courses.each do |course| %>
  <li>
    <strong><%= link_to course.code, course %>: <%= course.title %></strong>
    <%= course.description %>
    <% if can? :edit, course %>
      [modified: <%= course.updated_at.to_s %>]
    <% end %>
  </li>
<% end %>
</ul>

<br />
<% end %>

<% if can? :create, Course %>
<%= link_to 'New Course', new_course_path %>
<% end %>
