<% content_for :side do %>
  <h3>Modules</h3>
    <ul><%= render Course.all %></ul>
<% end %>

<h2>
  <%= @course.code %>:  
  <%= @course.title %>
  (<%= @course.credits %> ECTS)
</h2>

<p>
  <%= raw BlueCloth.new(@course.description).to_html %>
</p>

<p>
  <b>Taught</b> in Semester(s)
  <%= @course.taught %>.
  <b>Examined</b> in Semester(s)
  <%= @course.examined %>.
</p>

<p>
  <b>Workload:</b>
  <%= @course.workload %> hours
  (<%= @course.workload_text %>).
</p>

<hr />

<p>
  <b>Learning Outcomes.</b>
  On successful completion of this module the learner should be able to:<br />
  <%= raw BlueCloth.new(@course.outcomes).to_html %>
</p>

<hr />

<p>
  <b>Content</b>
  <%= raw BlueCloth.new(@course.content).to_html %>
</p>

<hr />

<p>
  <b>Resources</b>
  <%= raw BlueCloth.new(@course.resources).to_html %>
</p>

<hr />

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', courses_path %>
