<h1>Listing bonds</h1>

<table>
  <tr>
    <th>Atom</th>
    <th>Molecule</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bonds.each do |bond| %>
  <tr>
    <td><%= bond.atom_id %></td>
    <td><%= bond.molecule_id %></td>
    <td><%= link_to 'Show', bond %></td>
    <td><%= link_to 'Edit', edit_bond_path(bond) %></td>
    <td><%= link_to 'Destroy', bond, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bond', new_bond_path %>
