<%= form_for(@supervision) do |f| %>
  <% if @supervision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supervision.errors.count, "error") %> prohibited this supervision from being saved:</h2>

      <ul>
      <% @supervision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :student_id %>

  <table>
    <div class="field">
      <tr>
	<td align="right"><%= f.label :academic_id, "Name" %></td>
	<td>
	  <%= f.select :academic_id, Academic.all.map { |x| [x, x.id] }, :include_blank => true %>
	</td>
      </tr>
    </div>
    
    <div class="field">
      <tr>
	<td align="right"><%= f.label :main %></td>
	<td><%= f.check_box :main %></td>
      </tr>
    </div>
    
    <tr>
      <td>
	<div class="actions">
	  <%= f.submit "Submit" %>
	</div>
      </td>
    </tr>
  <table>
<% end %>
