<h1>Listing teachings</h1>

<table>
  <tr>
    <th>Year</th>
    <th>Semester</th>
    <th>Course</th>
    <th>Academic</th>
    <th>Hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachings.each do |teaching| %>
  <tr>
    <td><%= teaching.year %></td>
    <td><%= teaching.semester %></td>
    <td><%= teaching.course_id %></td>
    <td><%= teaching.academic_id %></td>
    <td><%= teaching.hours %></td>
    <td><%= link_to 'Show', teaching %></td>
    <td><%= link_to 'Edit', edit_teaching_path(teaching) %></td>
    <td><%= link_to 'Destroy', teaching, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teaching', new_teaching_path %>
