<p>
  <b>Year:</b>
  <%= @teaching.year %>
</p>

<p>
  <b>Semester:</b>
  <%= @teaching.semester %>
</p>

<p>
  <b>Course:</b>
  <%= @teaching.course_id %>
</p>

<p>
  <b>Academic:</b>
  <%= @teaching.academic_id %>
</p>

<p>
  <b>Hours:</b>
  <%= @teaching.hours %>
</p>


<%= link_to 'Edit', edit_teaching_path(@teaching) %> |
<%= link_to 'Back', teachings_path %>
