<h2><%= @broker.name %></h2>

<%= @broker.records.count %> records.

<p>
  <b>Template:</b>
  <%= @broker.template %>
</p>

<table>
<% @broker.records.sort_by { |x| x.authorid.to_i }.each do |record| %>
<tr>
<td align="right"><%= link_to record.authorid, record.broker.template % record.authorid, :target => "_blank" %></td>
<td><%= link_to record.academic, record.academic %></td>
</tr>
<% end %>
</table>


<%= link_to 'Edit', edit_broker_path(@broker) %> |
<%= link_to 'Back', brokers_path %>
