<%= form_for(@examination) do |f| %>
  <% if @examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

      <ul>
      <% @examination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :academic_id %><br />
    <%= f.number_field :academic_id %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :presentation_mark %><br />
    <%= f.number_field :presentation_mark %>
  </div>
  <div class="field">
    <%= f.label :report_mark %><br />
    <%= f.number_field :report_mark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
