<div id="main">
<h1>Add Examiner</h1>

<h3><%= @examination.project.author %>: <%= @examination.project.title %></h3>

<%= form_for(@examination) do |f| %>
  <% if @examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

      <ul>
      <% @examination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :project_id %>

  <div class="field">
    <%= f.label :academic_id, "Examiner's Name" %><br />
    <%= f.select :academic_id, options_from_collection_for_select(Academic.all, 'id', 'name'), :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit 'Add Examiner' %>
  </div>
<% end %>

<%= link_to 'Back', @examination.project %>
</div>
