<div id="main">
<h1>Examiner's Report</h1>

<span <% if @examination.open %><%= raw 'style="color:red"' %><% end %>>

<h3><%= link_to @examination.project.author, @examination.project.author %>: <%= @examination.project.title_or_blank %></h3>

<p>
  <b>Examiner:</b> <%= @examination.academic %>
</p>

<table>
<tr>
  <td align="right"><b>Presentation mark (10%):</b></td>
  <td align="right"><%= @examination.presentation_mark %></td>
</tr>

<tr>
  <td align="right"><b>Report mark (80%):</b></td>
  <td align="right"><%= @examination.report_mark %></td>
</tr>
</table>

<p>
  <b>Comment:</b>
  <%= @examination.comment %>
</p>

</span>

<%= link_to 'Edit', edit_examination_path(@examination) %> |
<%= link_to 'Back', @examination.academic %>
