<!DOCTYPE html>
<html>
<head>
  <title>SchoolMaster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
<div id="banner">
  <%= @page_title || "SchoolMaster" %>
</div>
<div id="navigation">
<%= link_to 'Home', root_path %> | Sign in
</div>
</div>

<%= yield %>

</body>
</html>
