<!DOCTYPE html>
<html>
<head>
  <title>SchoolMaster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script><script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</head>
<body>
<div id="header">
  <div id="banner">
    <%= link_to "SchoolMaster", root_path %>
  </div>
  <div id="navigation">
    <div id="home"> |
      <% if user_signed_in? %>
	<% if current_user.academic %>
          <%= link_to 'Home', current_user.academic %> |
	<% else %>
          <%= link_to 'Home', root_path %> |
        <% end %>
      <% end %>
      <%= link_to 'Academics', academics_path %> |
      <%= link_to 'Graduate Students', students_path %> |
      <%= link_to 'Rooms', rooms_path %> |
      <%= link_to 'Project Students', authors_path %> |
    </div>
    <div id="login"> |
      <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path %> |
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :confirm => "Sign out?" %> |
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %> |
      <% end %>
    </div>
  </div>
</div>
<div id="columns">
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>
