<!DOCTYPE html>
<html>
<head>
  <title>SchoolMaster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="banner">
    <%= @page_title || "SchoolMaster" %>
  </div>
  <div id="navigation">
    <div id="home"> |
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Academics', academics_path %> |
      <%= link_to 'Students', students_path %> |
      <%= link_to 'Rooms', rooms_path %> |
    </div>
    <div id="login">
      Sign in
    </div>
  </div>
</div>
<div id="columns">
  <%= yield %>
</div>
</body>
</html>
