<!DOCTYPE html>
<html>
<head>
  <title>SchoolMaster</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "application-print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script><script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
</head>
<body>
<div id="header">
  <div id="banner">
    <%= link_to "SchoolMaster", root_path %>
  </div>
  <div id="navigation">
    <div id="home"> |
      <% if user_signed_in? %>
	<% if current_user.academic %>
          <%= link_to 'Home', current_user.academic %> |
	<% else %>
          <%= link_to 'Home', root_path %> |
        <% end %>
      <% end %>
      <% if can? :read, Academic %>
        <%= link_to 'Academics', academics_path %> |
      <% end %>
      <% if can? :read, Student %>
        <%= link_to 'Postgrads', students_path %> |
      <% end %>
      <% if can? :read, Course %>
        <%= link_to 'Modules', courses_path %> |
      <% end %>
      <% if can? :read, Load %>
        <%= link_to 'Loads', loads_path %> |
      <% end %>
      <% if can? :read, Cohort %>
        <%= link_to 'Timetables', cohorts_path %> |
      <% end %>
      <% if false %>
      <% if can? :read, Venue %>
        <%= link_to 'Presentations', venues_path %> |
      <% end %>
      <% end %>
    </div>
    <div id="login"> |
      <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path %> |
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :confirm => "Sign out?" %> |
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to 'Sign in', new_user_session_path %> |
      <% end %>
    </div>
  </div>
</div>
<div id="columns">
  <div id="side">
    <%= yield :side %>
  </div>
  <div id="main">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <%= yield %>
  </div>
</div>
</body>
</html>
